{% extends 'base.html.twig' %}


{% block body %}

<h1>Bienvenue sur le Capital Game !</h1>

<p>Marre des partiels ? Vous voulez vous divertir ? Vous êtes au bon endroit !</p>
<p>Règle du jeu :</p>
<ul>
    <li>Trouver la capital du pays donné ! Aussi simple que ça ! Le gros gros fun. </li>
</ul>


{% endblock %}